.control-panel {
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;

  ul {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
    vertical-align: top;
    
    li {
      height: 50%;
      list-style: none;
    }
  }

  .leftButton,
  .rightButton {
    line-height: 40px;
    width: 35%;
  }

  .middleButton {
    width: 30%;
  }
}
