body {
  font-family: sans-serif;
  height: 100vh;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 100vw;

  #root {
    height: 100%;

    .App {
      background-color: lightblue;
      box-sizing: border-box;
      height: 100%;
      padding: 10% 0;
      max-height: 1024px;
      max-width: 768px;
      position: relative;
      width: 100%;

      .play-area {
        background-color: #bbb;
        height: calc(100% - 40px);

        .info-section {
          display: inline-block;
          height: 100%;
          width: 20%;
        }

        .tetris-section {
          display: inline-block;
          height: 100%;
          width: 80%;
        }
      }
    }
  }
}
