body {
  font-family: sans-serif;
  height: 100vh;
  margin: auto;
  padding: 0;
  text-align: center;
  width: 100vw;

  #root {
    .App {
      background-color: blue;
      height: 500px;
      max-width: 768px;
      position: relative;
      width: 100%;
    }
  }
}
